doctype html
html(lang='eng')
    head
        title Finding Falcone
        meta(name='description', content='Home page')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/public/css/index.css')
    body
        header
            h1 FINDING FALCONE
            div#navigation
                ul
                    li.navlink Reset
                    li.navlink Randomize
                    li.navlink Read Lore
        div.stars#fast-stars
        div.stars#slow-stars
        #root
            .bg-img-container
                img(src="/public/img/background/fractal.png", alt="Black Hole", id='blackhole')


