@import '../../app/colors.scss';
@import '../../app/responsive.scss';

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.vehicles-container {
    margin: 1.5vh 0;

    input {
        min-width: 150px;
        min-height: 45px;
        width: 21vw;
        height: 6vh;
        background-color: $cultured;
        border-color: $xiketic;
        font-size: 1.4rem;
        color: $space-cadet;
        text-indent: 1vw;
        outline-style: hidden;
        outline-color: $liberty;

        @include xs {
            min-width: 111px;
            max-height: 36px;
        }
    }
}