@import '../MainSection/style.scss';

.selection-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    width: inherit;

    .planet-image {
        max-width: 210px;
        height: auto;
        justify-self: center;
    }

    .selectors-container {
        font-size: 1.0rem;
        justify-self: center;
    }
}