//Import fonts etc.

// Colors
$black-chocolate: #15150F;
$xiketic: #060612;
$space-cadet: #14143E;
$pumpkin: #FF700A;
$liberty: #4C5F94;
$cultured: #F5F5F5;
$light-green: #70EB99;

// box-shadow: {horizontal}px {vertical}px blur scale color
@function duplicateShadows($number, $blur, $scale) {
    // display size
    $display-width: 2000;
    $display-height: 2000;
    
    $value: '#{random($display-width)}px #{random($display-height)}px #{$blur}px #{$scale}px #{$cultured}';

    @for $i from 0 to $number {
        $value: '#{$value}, #{random($display-width)}px #{random($display-height)}px #{$blur}px #{$scale}px #{$cultured}';
    }

    @return unquote($value); 
}

html {
    margin: 0;
    padding: 0;
    font-size: 15px;
    height: 100%;
    background: radial-gradient(ellipse farthest-corner at 100% 0%, black 0%, $xiketic 69%, $space-cadet 75%, $xiketic 90%);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    header {
        padding-top: 1vmin;
        position: relative;
        background-color: $cultured; 
        color: $xiketic;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;

        h1 {
            text-align: center;
            font-size: 3.3rem;
            padding: 0;
            margin-top: 0;
            margin-bottom: -11px;
        }

        #navigation {
            align-self: center;
            
            #nav-list {
                display: flex;
                flex-direction: row;
                padding: 0;
                margin: 0;

                .nav-link {
                    padding-right: 3vw;
                    padding-left: 3vw;
                    list-style: none;
                    font-size: 1.1rem;
                }
            }
        }
    }

    #root {
        position: relative;

        .bg-img-container {
            background: transparent;

            img {
                padding: 0;
                margin: 0;
                background: transparent;
                position: absolute;
                top: 0;
                right: 0;
                max-width: 40vmin;
                height: auto;
            }
        }
    }
}

.stars {
    width: 1px;
    height: 1px;
    position: fixed;
    background-color: transparent;
    border-radius: 50%;
}

#small-stars {
    box-shadow: duplicateShadows(1200, 0, 0);
    animation: starryEyed 6s ease-in-out infinite;
}

#big-stars {
    box-shadow: duplicateShadows(150, 1, 1);
    animation: starryEyed 3s ease-in-out infinite;
}

// For fun parallax. Revert to twinkle animation.
@keyframes starryEyed {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0px);
    }
}