@import '../../app/colors.scss';

.sr-only {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.planet-list {
    margin: 1.5vh 0;

    input {
        background-color: $cultured;
        border-color: $space-cadet;
        width: 150px;
        height: 30px;
        font-size: 1.2rem;
        color: $space-cadet;
        text-indent: 1vw;
    }
}