//Import fonts etc.
@import '../../colors.scss';

#loading {
    margin: auto;
}

#error {
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
}

.main {
    margin: 0 1vw;
    padding: 0 2vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        color: $pumpkin;
        font-size: 1.5rem;
    }
    
    .selection-container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        max-width: 100vw;
        margin: 3vmin 0;

        h3 {
            color: $cultured;
        }
    }

    button {
        width: 12vw;
        height: 4vh;
        min-width: 150px;
        min-height: 45px;
        align-self: center;
        margin: 3vmin;
        font-size: 1.2rem;
        color: $xiketic;
    }

    .result-container {
        font-size: 1.2rem;
        color: $pumpkin;
        margin: 6vh;
        text-align: center;
    }
}