//Import fonts etc.
@import '../../../constants/colors.scss';
@import '../utilities/responsive.scss';

#loading {
    margin: auto;
}

#error {
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
}

.main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .selection-container {
        width: 100%;
        margin: 3vh 0;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .button-container {
        width: 24vmax;
        height: 24vmax;
        margin: 3vh 0;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 21vmin;
            height: 21vmin;
            min-width: 120px;
            min-height: 120px;
            font-size: 1.5rem;
            background-color: $light-green;
            color: $xiketic;
            border-radius: 50%;
            border-color: transparent;
            text-align: center;
            user-select: none;
            outline: none;
    
            &:disabled {
                background-color: transparent;
                color: transparent;
            }
    
            &:hover:enabled {
                animation-name: hover-color;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
    
            &:active:enabled {
                width: 18vmin;
                height: 18vmin;
                font-size: 1.2rem;
            }
    
            @include xs {
                min-width: 60px;
                min-height: 60px;
            }
        }
    }

}

@keyframes hover-color {
    100% {
        background-color: darken($color: $light-green, $amount: 30);
    }
}